* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

#header {
    background-color: #303030;
    height: 475px;
    color: #ffffff;
    padding-top: 206px;
    padding-left: 62px;
}

#header h1 {
    font-size: 60px;
    margin-bottom: 20px;
    letter-spacing: -2.5%;
}

#header p {
    font-size: 20px;
}

#info-menu {
    height: 229px;
    background-color: #f9f9f9;
    display: grid;
    grid-auto-flow: column;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info p {
    font-size: 20px;
    font-weight: 400;
}

.info span {
    font-size: 40px;
    font-weight: 600;
}

#container-content {
    height: 779px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

#text-content {
    margin-left: 77px;
}

#text-content h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

#text-content p {
    font-size: 24px;
    font-weight: 300;
}

#form {
    background-color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

#form h3 {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 87px;
    margin-bottom: 48px;
}

form {
    text-align: center;
}

input {
    width: 508px;
    padding: 21px 0 21px 30px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

input[type="text"] {
    margin-bottom: 62px;
}

input[type="email"] {
    margin-bottom: 88px;
}

button {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    padding: 22px 46px;
    background-color: #C07212;
    border-radius: 10px;
    margin-bottom: 87px;
}