* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

#header {
    background-color: #303030;
    height: 475px;
    color: #ffffff;
    padding-top: 206px;
    padding-left: 62px;
}

#header h1 {
    font-size: 54px;
    margin-bottom: 20px;
    letter-spacing: -2.5%;
}

#header p {
    font-size: 20px;
}

#info-menu {
    background-color: #f9f9f9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    gap: 40px;
    padding: 80px 50px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info p {
    font-size: 20px;
    font-weight: 400;
}

.info span {
    font-size: 40px;
    font-weight: 600;
}


#container-content {
    /* height: 779px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

#text-content {
    margin: 100px 0 100px 77px
}

#text-content h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

#text-content p {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
}

img {
    margin: 50px 0; 
}

#form {
    background-color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

#form h3 {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 87px;
    margin-bottom: 48px;
}

form {
    text-align: center;
}

input {
    width: 508px;
    padding: 21px 0 21px 30px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

input[type="text"] {
    margin-bottom: 62px;
}

input[type="email"] {
    margin-bottom: 88px;
}

button {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    padding: 22px 46px;
    background-color: #C07212;
    border-radius: 10px;
    margin-bottom: 87px;
<<<<<<< HEAD
    cursor: pointer;
    transition-duration: 0.5s;
}

button:hover {
    transform: translateY(-14px);
    transition-duration: 0.5s;
    box-shadow: 0 15px 20px rgba(255, 255, 255, 0.24); 
}

/* MEDIA QUERIES HEADER */
@media (max-width: 1060px) {
    #header {
        padding-left: 2%;
    }
    
    #header h1 {
        font-size: 46px;
    }
}

@media (max-width: 900px) {
    #header h1 {
        font-size: 38px;
    }
}

@media (max-width: 715px) {
    #header h1 {
        font-size: 30px;
    }
    
    #header p {
        font-size: 16px;
    }
}

/* MEDIA QUERIE INFORMATIONAL MENU */
@media (max-width: 700px) {
    .info p {
        font-size: 16px;
    }

    .info span {
        font-size: 36px;
    }
}

@media (max-width: 600px) {
    #info-menu {
        grid-auto-flow: row;
    }

    .info p {
        font-size: 20px;
    }

    .info span {
        font-size: 40px;
    }
=======
>>>>>>> 9bc3cd8502bb0fd7fa0d41c1ea4e3376c6021db7
}